<div class="card">
    <div class="card-header">
      <button type="button" class="btn btn-danger" (click)="toggleDelete()">Delete</button>
      <a [routerLink]="'/update-review/' + review.id"><button type="button" class="btn btn-success">Update</button></a>
    </div>
    <div class="container confirm" *ngIf="showDeleteConfirm">
      <h4>Are you sure?</h4>
      <button type="button" class="btn btn-danger" (click)="onDelete()">Yes</button>
      <button type="button" class="btn btn-success" (click)="toggleDelete()">No</button>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Review Id: {{review.id}}</strong></li>
      <li class="list-group-item"><strong>Created By UserID: <a routerLink="/profile/{{review.userId}}">{{review.userId}}</a></strong></li>
      <li class="list-group-item">Title: {{review.title}}</li>
      <li class="list-group-item">Description: {{review.description}}</li>
      <li class="list-group-item">Score: {{review.score}}</li>
      <li class="list-group-item">Date: {{review.date}}</li>
      <li class="list-group-item">Car Id: {{review.carId}}</li>
      <li class="list-group-item">Author Id: {{review.authorId}}</li>
    </ul>
  </div>