<div class="container">
    <form>
        <h1>Add new Car</h1>
        <div class="mb-3">
            <label for="modelInput" class="form-label">Model</label>
            <input type="text" class="form-control" id="modelInput" name="modelInput" [(ngModel)]="modelInputValue" aria-describedby="Model">
        </div>
        <div class="mb-3">
            <label for="manufacturerInput" class="form-label">Manufacturer</label>
            <input type="text" class="form-control" id="manufacturerInput" name="manufacturerInput" [(ngModel)]="manufacturerInputValue" aria-describedby="Manufacturer">
        </div>
        <div class="mb-3">
            <label for="colorInput" class="form-label">Color</label>
            <input type="text" class="form-control" id="colorInput" name="colorInput" [(ngModel)]="colorInputValue" aria-describedby="Color">
        </div>
        <div class="mb-3">
            <label for="fabYearInput" class="form-label">Fabrication Year</label>
            <input type="number" min="1900" max="2099" step="1" class="form-control" id="fabYearInput" name="fabYearInput" [(ngModel)]="fabYearInputValue">
        </div>
        <button type="submit" class="btn btn-success" (click)="onSubmit()">Add</button>
    </form>
</div>