<div class="container">
    <h1>Test Endpoints of the <span style="color: grey">CarInfoAPI</span></h1>
    <button type="button" class="btn btn-secondary" routerLink="/cars">CARS</button>
    <button type="button" class="btn btn-secondary" routerLink="/reviews">REVIEWS</button>
    <button type="button" class="btn btn-secondary" routerLink="/authors">AUTHORS</button>
    <button type="button" class="btn btn-secondary" routerLink="/races">RACES</button>
    <button type="button" class="btn btn-secondary" routerLink="/authors-report">AUTHORS REPORT</button>
    <!-- <button type="button" class="btn btn-secondary" routerLink="/reviews-report">REVIEWS REPORT</button> -->
</div>