.card {
    margin-top: 2rem;
}

.card-header{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.container.confirm {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem 2rem;
}