<div class="card">
    <div class="card-header">
      <button type="button" class="btn btn-danger" (click)="toggleDelete()">Delete</button>
    </div>
    <div class="container confirm" *ngIf="showDeleteConfirm">
      <h4>Are you sure?</h4>
      <button type="button" class="btn btn-danger" (click)="onDelete()">Yes</button>
      <button type="button" class="btn btn-success" (click)="toggleDelete()">No</button>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Race Id: {{race.id}}</strong></li>
      <li class="list-group-item">Name: {{race.name}}</li>
      <li class="list-group-item">City: {{race.city}}</li>
      <li class="list-group-item">Country: {{race.country}}</li>
    </ul>
  </div>