.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10% auto;
    gap: 3rem;
}

.mybtn {
    min-width: 5rem;
}

.container-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

p {
    font-size: 0.7rem;
}